<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/916727133d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="contenedor_header">
            <img src="/images/main-image.png" class="imagen_fondo_header">
        </div>
        <!-- Slider Categorias-->
        <section class="swiper">
            <div class="swiper-wrapper">
                <% datosHome.forEach( dato => { %>
                    <a class="swiper-slide categoria" href="#<%=dato.categoria%>">
                        <img class="category-img" src="images/<%=dato.imagen%>">
                        <h3 class="category-name"><%=dato.categoria%></h3>
                    </a>
                <% }); %>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <% datosHome.forEach( dato => { %>
            <%- include("partials/slider", {dato: dato}); %>
        <% }); %>
    </main>
    <script src="/js/slider-settings.js"></script>
    <footer>
        <img id="img1" src="/images/main-image.png">
        <div class="image-flex">
            <a href="Instagram">
                <img class="footer-image" src="/images/logo/instagram-logo-icone.png">
            </a>
            <a href="Facebook">
                <img class="footer-image" src="/images/logo/facebook-logo.png">
            </a>
            <a href="Twiter">
                <img class="footer-image" src="/images/logo/twitter-logo.png">
            </a>
        </div>
    </footer>

</body>

</html>