<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/916727133d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="contenedor_header">
            <img src="/images/main-image.png" class="imagen_fondo_header">
        </div>
        <!-- Slider Categorias-->
        <section class="swiper">
            <div class="swiper-wrapper">
                <% datosHome.forEach( dato => { %>
                    <a class="swiper-slide categoria" href="#<%=dato.categoriaNombre%>">
                        <img class="category-img" src="images/<%=dato.categoriaImg%>">
                        <h3 class="category-name"><%=dato.categoriaNombre%></h3>
                    </a>
                <% }); %>
            </div>
            <!-- Botones de navegación-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </section>
        <% datosHome.forEach( dato => { %>
            <%- include("partials/slider", {dato: dato}); %>
        <% }); %>
    </main>
    <script src="/js/slider-settings.js"></script>
    <footer>
        <div class="image-flex">
            <a href="Instagram">
                <img class="footer-image" src="/images/instagram-logo-icone.png">
            </a>
            <a href="Facebook">
                <img class="footer-image" src="/images/facebook-logo.png">
            </a>
            <a href="Twiter">
                <img class="footer-image" src="/images/twitter-logo.png">
            </a>
        </div>
        <div class="main-image">
            <img src="/images/main-image.png">
            <div class="text">¿Quieres saber mas informacion?
                Contactanos
                <div class="fa-solid fa-arrow-down-long"></div>
            </div>
        </div>
        <form action="/enviar-mensaje" method="POST">
            <label for="nombre">Nombre:</label><br />
            <input type="text" id="nombre" name="nombre" /><br />
            <label for="email">Email:</label><br />
            <input type="email" id="email" name="email" /><br />
            <label for="mensaje">Mensaje:</label><br />
            <textarea id="mensaje" name="mensaje"></textarea><br />
            <input type="submit" value="Enviar mensaje" />
        </form>

        <span>
            <p class="copyright">futuro copirigth :)</p>
        </span>

    </footer>

</body>

</html>