<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <div id="ProductA">
        <div id="ProdImgBG">
            <a id="back" href="javascript: history.go(-1)">◀</a>
            <img id="ProdImg" src="/images/<%=datoProducto.imagen%>" alt="">
        </div>
        <div id="ProdDetails">
            <h1 id="ProdTitle"><%=datoProducto.nombre%></h1>
            <p id="ProdDesc"><%=datoProducto.descripcion%></p>
            <p id="ProdCredits">Creditos a <%=datoProducto.administrador%></p>
            <a id="BuyBtn" href="product/productCart">Comprar por $<%=datoProducto.precio%></a>
        </div>
    </div>
    <br>
    <label>Recomendados</label>
        <section class="products">
            <a class="product" href="/product/productDetail/1">
                <img class="product-img" src="/images/catalogo/paisaje.png">
                <span class="product-info">
                    <h4>Precio $1200</h4>
                    <h2>El Dorado</h2>
                </span>
            </a>
            <a class="product" href="/product/productDetail/4">
                <img class="product-img" src="/images/catalogo/animal.png">
                <span class="product-info">
                    <h4>Precio $1500</h4>
                    <h2>Pinguitastico</h2>
                </span>
            </a>
            <a class="product" href="/product/productDetail/7">
                <img class="product-img" src="/images/catalogo/ilustracion.png">
                <span class="product-info">
                    <h4>Precio $1600</h4>
                    <h2>Mr Pensante</h2>
                </span>
            </a>
            <a class="product" href="/product/productDetail/11">
                <img class="product-img" src="/images/catalogo/vehiculo2.png">
                <span class="product-info">
                    <h4>Precio $1600</h4>
                    <h2>Auto 696</h2>
                </span>
            </a>
        </section>
</body>
</html>